@import "../vars";

.header {
  background-color: #0d0d0d;
  box-shadow: 0 5px 22px rgba(0, 0, 0, .25);
  width: calc(100% - #{$sidebar-width});

  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-header;

  display: flex;
}

.header__left {
  width: 60%;
  background-color: $primary;
}

.header__right {
  display: flex;
  background-color: green;
  width: 40%;
  justify-content: flex-end;
}
