<aside class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar_header.jpg" alt="">
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="assets/images/Avatar.svg" alt="">
      <div class="profile__name">Emanuil Gazmanov</div>
      <div class="profile__prof">Frontend developer blog</div>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img src="assets/images/icons/instagram-icon.svg" alt="instagram">
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img src="assets/images/icons/printerest-icon.svg" alt="printerest">

          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img src="assets/images/icons/vk-icon.svg" alt="vkontakte">
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="sidebar__footer"></div>
</aside>
